
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #379797;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Typography


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}


.h1 {
  font-size: 30px;
  font-weight: 300;
}

.h2 {
  font-size: 25px;
  font-weight: 300;
}

.h3 {
  font-size: 20px;
  font-weight: 400;

}

.h4 {
  font-size: 18px;
  font-weight: 400;

}

.h5 {
  font-size: 16px;
  font-weight: 400;
}

.h6 {
  font-size: 15px;
  font-weight: 400;
}

.p {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  margin: 10px 0;
}

.small {
  font-size: 12px;
  font-weight: 400;
}

.smaller {
  font-size: 10px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
