@import "variables";
@import "element-variables";
@import "~normalize.css";
@import "~froala-editor/css/froala_editor.pkgd.css";
@import "~froala-editor/css/froala_style.min.css";
@import "~font-awesome/css/font-awesome";
@import "~element-ui/packages/theme-chalk/src/index";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.app--wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-header {
    padding: 0;

    &--top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;
      padding: 15px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

      .app-header-logo {
        flex: 1;
      }
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      .app-header-logo {
        margin-right: 30px;
      }

    }

    &-auth {
      display: flex;
      align-items: center;
      margin: 0 15px;
      cursor: pointer;
    }

    &-languages {
      cursor: pointer;
    }

    &-basket {
      font-size: 23px;
      position: relative;

      sup {
        font-size: 12px;
        position: absolute;
        right: -4px;
        top: 2px;
      }

    }

    &-links {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 30px;

      a, .el-dropdown {
        cursor: pointer;
        margin-left: 20px;
      }

    }

  }

  &-content {
    flex: 1;
    width: 100%;
  }

  &-artists {
    display: flex;
    padding: 15px;

    aside {
      min-width: 300px;
    }

    main {
      flex: 1;
    }

    .artists {
      column-count: 2;
      column-gap: 15px;
    }
  }

  &-artworks {
    display: flex;
    padding: 15px;

    aside {
      width: 300px;
    }

    main {
      flex: 1;
    }

    .artworks {
      column-count: 2;
      column-gap: 15px;
    }


    .artwork {
      //flex: 1 1 30%;
      margin-bottom: 50px;
      position: relative;

      &-image {
        display: block;

        & img {
          height: auto;
          width: 100%;
          max-height: 500px;
        }
      }

      &-title {
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0 20px;
      }

      &-panel {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        top: 0;
        left: 0;
        right: 0;
        text-align: right;
        font-size: 25px;
        padding: 10px;
        //background: #ffffff;
      }

      &-favorite {
        border-radius: 50%;
        margin-right: 10px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5));
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-cart {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5));
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-price {
        text-align: right;
      }



    }
  }

  &-auth {
    display: flex;
    justify-content: center;
    align-items: center;

    &-login {
      width: 400px;
    }

    &-email {
      width: 400px;
    }

    &-register {
      width: 400px;
    }

  }

  &-footer {
    padding: 0;

    &--top {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }

    &--bottom {
      padding-top: 40px;

      a {
        display: block;
        margin-bottom: 10px;
      }

    }

    &-social {
      display: flex;
      align-items: center;

      & a {
        font-size: 25px;
        margin-right: 15px;
      }
    }

    &-newsletter .el-form-item {
      margin-right: 0;
    }
  }
}

.el-select, .el-date-editor.el-input {
  width: 100%;
}

// Admin styles
.admin {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.a-content {
  padding: 40px 15px;
}


