// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/css/font-awesome";
@import "~select2/dist/css/select2";
@import "~toastr/build/toastr";
@import "~metismenu/dist/metisMenu";

//@import "style";
//@import "admin";
//@import "rtl";

@import "~element-ui/lib/theme-chalk/index.css";


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  min-height: 100vh;
  color: black;
}

a {
  color: #262626;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-header {

    &--top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-auth {
      display: flex;
      padding: 5px;
    }

  }

  &-content {
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
  }

  &-index {
    display: flex;

    &-filters {
      min-width: 200px;
    }

    &-content {

      &-artworks {
        display: flex;
        flex-wrap: wrap;
      }

      &-artwork {
        flex: 1 1 30%;
      }
    }
  }

  &-register {
    min-width:900px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;



    &-social {
      display: flex;
    }
  }
}

